{% extends "base.html" %}

{% block titulo %} Produtos {% endblock %}
<p>Data atual formatada: {{ data_atual|date:"d/m/Y H:i:s" }}</p>

{% block cards %}    {% endblock %}

{% block titulo_page %} Listagem de Produtos {% endblock %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block conteudo %}

<a href="{% url 'formulario' %}" class="btn btn-primary">Cadastrar novo produto</a>
<a href="{% url 'categoria' %}" class="btn btn-secondary">Recarregar página</a>
<hr>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Ordem</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in lista %}
        <tr>
            <td> {{item.id}}</td>
            <td> {{item.nome}}</td>
            <td>{{item.ordem}}</td>
            <td style="display: flex; gap: 5px;">
                <a href="{% url 'detalhes_categoria' id=item.id %}" class="btn btn-info">Detalhes</a>
                <a href="{% url 'editar_categoria' id=item.id %}" class="btn btn-warning">Editar</a>                   
                <form method="post" action="{% url 'remover_categoria' item.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </td>
        </tr>
        {% endfor %}
      
    </tbody>
</table>

<script>
    document.querySelectorAll('form').forEach(form => {
        form.addEventListener('submit', event => {
            if (!confirm('Tem certeza que deseja excluir esta categoria?')) {
                event.preventDefault(); // Impede o envio do formulário
            }
        });
    });
</script>

{% endblock %}