{% extends "base.html" %}

{% block titulo_conteudo %} Listagem de Produtos {% endblock titulo_conteudo %}

{% block conteudo %} 

<div class="barrabotoes">
<a href="{% url 'form_produto' %}" class="btn btn-primary">Inserir Novo</a>
<button class="btn btn-secondary" onclick="window.location.reload();">Recarregar</button>

</div>

<table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>#</th>
        <th>Nome</th>
        <th>Preço(R$)</th>
        <th>Categoria</th>
        <th>Qtde</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
    {% for produto in lista %}
      <tr>
        <td>{{ produto.id }}</td>
        <td><img src="{{ produto.img_base64 }}" style="width: 40px; height: 40px;"></td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.preco}}</td>
        <td>{{ produto.categoria }}</td>
        <td>{{ produto.estoque.qtde }}</td>
        <td>
          <a href="{% url 'detalhes_produto' produto.id %}" class="btn btn-info text-white btn-sm me-1">Detalhes</a>
          <a href="{% url 'ajustar_estoque' produto.id %}" class="btn btn-success text-white btn-sm me-1">Estoque</a>
          <a href="{% url 'editar_produto' produto.id %}" class="btn btn-warning btn-sm me-1">Editar</a>
          <a href="{% url 'remover_produto' produto.id %}" class="btn btn-danger btn-sm">Remover</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock conteudo %}