{% extends "base.html" %}

{% block titulo_conteudo %} Listagem de Produtos {% endblock titulo_conteudo %}

{% block conteudo %} 


<div class="barrabotoes d-flex gap-2">
  <button onClick="location='{% url "form_produto" %}'" type="button" class="btn btn-primary">Inserir Novo</button>
  <button onClick="location='{% url "produto" %}'" type="button" class="btn btn-secondary">Recarregar</button>
</div>

<table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>#</th>
        <th>Nome</th>
        <th>Preço(R$)</th>
        <th>Categoria</th>
        <th>Qtde</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
    {% for produto in lista %}
      <tr>
        <td>{{ produto.id }}</td>
        <td><img src="{{ produto.img_base64 }}" class="img-fluid" style="height: 35px;width: 30px;"></td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.preco }}</td>
        <td>{{ produto.categoria }}</td>
        <td>{{ produto.estoque.qtde }}</td>
        <td>
          <button onclick="location='{% url 'detalhes_produto' produto.id %}'" class="btn btn-info btn-sm">Detalhes</button>
          <a href="{% url 'ajustar_estoque' produto.id %}" class="btn btn-success btn-sm">Estoque</a>
          <a href="{% url 'editar_produto' produto.id %}" class="btn btn-warning btn-sm">Editar</a>
          <form method="post" action="{% url 'excluir_produto' produto.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>

<script>
  document.querySelectorAll('form').forEach(form => {
      form.addEventListener('submit', event => {
          if (!confirm('Tem certeza que deseja excluir este produto?')) {
              event.preventDefault(); // Impede o envio do formulário
          }
      });
  });
</script>

{% endblock conteudo %}