{% extends "base.html" %}

{% block titulo_conteudo %} Detalhes do Pedido #{{ pedido.id }} {% endblock titulo_conteudo %}

{% block conteudo %} 

<p><strong>Cliente:</strong> {{ pedido.cliente.nome }}</p>
<p><strong>Data do Pedido:</strong> {{ pedido.data_pedido }}</p>
<p><strong>Status:</strong> {{ pedido.get_status_display }}</p>

<hr>
<!-- Formulário para adicionar novos produtos -->
<h5>Adicionar Produto</h5>
<form method="POST">
    {% csrf_token %}
    <p>
     <label for="id_produto_nome">Produto:</label>    
    <input type="text" class="form-control autocomplete" 
            id="id_produto_nome" 
            data-url="{% url 'buscar_dados' 'home.Produto' %}" 
            value="{{item_pedido.produto.nome}}" 
            data-hidden="#id_produto" >
    </p>
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-sm">Salvar Produto</button>
    <a href="{% url 'form_pagamento' pedido.id %}" class="btn btn-primary btn-sm">Registrar Pagamento</a>
    <a href="{% url 'notafiscal' pedido.id %}" class="btn btn-info btn-sm">Nota Fiscal</a>
</form>

<hr>
<!-- Tabela de Itens já adicionados ao pedido -->
<h5>Itens do Pedido</h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>#</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unitário (R$)</th>
            <th>Total (R$)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in pedido.itempedido_set.all %}
        <tr>
            <td>{{ item.id }}</td>
            <td><img src="{{ item.produto.img_base64 }}" style="width: 90px; height: 90px;"></td>
            <td>{{ item.produto.nome }}</td>
            <td>{{ item.qtde }}</td>
            <td>{{ item.preco }}</td>
            <td>{{ item.totalItem }}</td>
            <td>
              <a href="{% url 'editar_item_pedido' item.id %}" class="btn btn-warning btn-sm">Editar</a>
              <a href="{% url 'remover_item_pedido' item.id %}" class="btn btn-danger btn-sm" 
              onclick="return confirm('Tem certeza que deseja remover este item?');">Remover</a>
            </td>         
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><strong>Total do pedido:</strong> R$ {{ pedido.total}}</p>
<p><strong>Total Pago:</strong> R$ {{ pedido.total_pago}}</p>
<p><strong>Débito:</strong> R$ {{ pedido.debito}}</p>

<a href="{% url 'pedido' %}" class="btn btn-secondary">Voltar</a>

{% endblock conteudo %}

{% block javascript %}
<script>
    $('#confirm-btn').confirmation({
      rootSelector: '#confirm-btn',
      title: 'Você tem certeza?',
      btnOkLabel: 'Sim',
      btnCancelLabel: 'Não',
      onConfirm: function() {
        alert('Confirmado!');
      },
      onCancel: function() {
        alert('Cancelado!');
      }
    });
  </script>

{% endblock javascript %}