<ul class="nav flex-column">
    <li class="nav-item">
        <a href="{% url "index" %}" class="nav-link"><i class="fas fa-home"></i> <span>Home</span></a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link"><i class="fas fa-chart-bar"></i> <span>Cadastro</span></a>
        <ul class="submenu nav flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link">Categorias</a>
            </li>
            
            <li class="nav-item">
                <a href="#" class="nav-link">Produtos</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Clientes</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Pedidos</a>
            </li>
        </ul>
    </li>
    <!--
    <li class="nav-item">
        <a href="#" class="nav-link"><i class="fas fa-users"></i> <span>Clientes</span></a>
        <ul class="submenu nav flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link">Listagem</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Add User</a>
            </li>
        </ul>
    </li>
    -->
    <li class="nav-item">
        <a href="#" class="nav-link"><i class="fas fa-cogs"></i> <span>Settings</span></a>
        <ul class="submenu nav flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link">General</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Security</a>
            </li>
        </ul>
    </li>
</ul>